*{
	margin: 0;
	padding: 0;
	
}
body{
	background: #f2f2f2;
}
.center{
	width: 978px;
	height: 633px;
	margin: auto;
	
}
img{
	vertical-align: middle;
	/*border-right: 1px solid #000000;
	padding-right: 10px;*/
	margin-top: 12px;
	
}
.center h1{
	display: inline-block;
	font-size: 24px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}
.section{
	width: 844px;
	background: #fff;
	margin: auto;
	overflow: hidden;
	border-left: 6px solid #e8e8e8;
	border-top: 6px solid #e8e8e8;
	border-bottom: 6px solid #e8e8e8;
	border-right: 20px solid #e8e8e8;
}
.left{
	float: left;
}
.right{
	width: 320px;
	float: right;
}
.right_1 input{
	width: 300px;
	height: 32px;
	margin-top: 7px;
}
.input1>input{
	background:url(../img/logo_11.png) no-repeat 98% center;	
}
.input2>input{
	background: url(../img/logo_16.png) no-repeat 98% center;
}
.right_1{
	margin:12px 0px 22px;
}
.right_2{
	margin: 52px 0;
}
button{
	color: #fff;
	background: #e33d3f;
	width: 308px;
	height: 36px;
}
.text{
	margin: 20px 0 10px;
}
.pay{
	margin: 10px 0;
}
.button1{
	width: 116px;
	height: 32px;
	background:#80cc6a ;
	color: #fff;
	margin-bottom: 10px;
	
}
a{
	color: #1104c3;
}
